openapi: 3.0.0
info:
  version: '0.0.1'
  title: Pay Global Platform
  termsOfService: 'https://payglobal.me/terms.html'
  contact:
    name: Pay Global
    url: 'https://payglobal.me/contact.html'
  x-logo:
    url: 'http://docs.api.payglobal.me/img/logo.png'
  description: |
    
tags:
  - name: Client Authorization
    description: This operations are performed by the **client application** to obtain an `access_token` in exchange of the `client_token` or a valid `access_token` (until it is expired).
  - name: Echo1
    description: Example echo operations
  - name: User
    description: Operations about user

servers:
  - url: 'http://sandbox.api.payglobal.me/business/api'

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL. 
paths:
  '/auth/token':
    post:
      tags: 
        - Client Authorization
      summary: Get Access Token
      description: The client application is required to generatet a `client_token` in the JWT format. Please read more about the `client_token` in the description of the api above.
      operationId: 'auth/token'
      security: 
        - access_token: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ResponseCode:
                    type: number
                    example: 200
                  ResponseMessage:
                    type: string
                    example: 'Success'
components:
  securitySchemes:
    access_token :
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: A token generated by the server to grant access to the api calls made by the client. The access token is in JWT format. All the requests must have the access token in the authorization header of the request as a bearer token.